@page "/about"
@using Mandarin.ViewModels.Index;
@inject IIndexPageViewModel ViewModel;

<MandarinCarousel ViewModel="@ViewModel.CarouselViewModel" />

@ViewModel.MainContent

<div class="flex md:flex-row flex-col">
  <div class="md:mr-8 mr-0 align-middle self-center">@ViewModel.GiftCardContent</div>

  <div class="text-center align-middle self-center">
    <MandarinImage class="h-auto max-w-xs my-4 mx-auto" ViewModel="@ViewModel.GiftCardImageViewModel" />

    <div class="my-6">
      <a class="gift-card-button" href="https://squareup.com/gift/PT1RCJ52GTP8E/order" target="_blank">Buy eGift Card</a>
    </div>

    <div class="my-6">
      <a class="gift-card-button" href="https://squareup.com/gift/PT1RCJ52GTP8E/check-balance" target="_blank">Check eGift Card Balance</a>
    </div>
  </div>
</div>

<hr class="mt-6" />

<div class="container flex flex-col justify-around md:flex-row mt-3 mx-auto self-center">
  <MandarinOpeningTimes ViewModel="@ViewModel.OpeningTimesViewModel" class="mb-5 self-center" />
  <MandarinMap ViewModel="@ViewModel.MapViewModel" />
</div>
