@page "/admin/record-of-sales"
@using Mandarin.Services
@using System.Reactive.Linq
@using System.Reactive.Threading.Tasks
@using Mandarin.Models.Commissions
@using Mandarin.ViewModels
@using Mandarin.ViewModels.Commissions
@inject ICommissionService CommissionService;
@inject IViewModelFactory ViewModelFactory;

<RadzenCard>
  <EditForm EditContext="@DatePickerEditContext">
    <div class="flex flex-row">
      <div class="flex-col flex-grow">
        <RadzenDatePicker @bind-Value="SelectedDate" DateFormat="MMM yyyy" />
        <RadzenButton class="mt-2" Click="UpdateTransactionsAsync" disabled="@IsLoading">Update</RadzenButton>
      </div>
      <div class="self-center flex-grow">
        <span>This will include transactions from <i>@($"{StartDate:d}")</i> to <i>@($"{EndDate:d}")</i>.</span>
      </div>
    </div>
  </EditForm>
</RadzenCard>

<RadzenCard>
  <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5"
              AllowSorting="true" Data="@Commissions" ColumnWidth="200px" Value="@RecordOfSalesModel" RowSelect="@((IArtistRecordOfSalesViewModel model) => OnSelect(model))">
    <Columns>
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="SendSuccessful" Title="Sent">
        <Template Context="data">
          <RadzenIcon Icon="@(data.SendSuccessful ? "check" : "close")" />
        </Template>
      </RadzenGridColumn>
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.StockistCode" Title="Artist Code" />
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.Name" Title="Name" />
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.Rate" Title="Commission Rate" FormatString="{0:P}" />
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.Subtotal" Title="Subtotal" FormatString="{0:C}" />
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.CommissionTotal" Title="Commission" FormatString="{0:C}" />
      <RadzenGridColumn TItem="IArtistRecordOfSalesViewModel" Property="Commission.Total" Title="Total" FormatString="{0:C}" />
    </Columns>
  </RadzenGrid>
</RadzenCard>

@if (SelectedCommission != null)
{
  <RadzenCard>
    <div class="text-left">
      <h3>Record of Sale for @(SelectedCommission.Name)</h3>
      <p>Subtotal: @($"{SelectedCommission.Subtotal:C}")</p>
      <p>Commission: @($"{SelectedCommission.CommissionTotal:C}") (@($"{SelectedCommission.Rate:P}"))</p>
      <p>Total: @($"{SelectedCommission.Total:C}")</p>
    </div>

    @if (SelectedCommission.Sales != null)
    {
      <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="15"
                  AllowSorting="true" Data="@SelectedCommission.Sales" ColumnWidth="200px">
        <Columns>
          <RadzenGridColumn TItem="Sale" Property="ProductCode" Title="Product Code" />
          <RadzenGridColumn TItem="Sale" Property="ProductName" Title="Product Name" />
          <RadzenGridColumn TItem="Sale" Property="Quantity" Title="Quantity" />
          <RadzenGridColumn TItem="Sale" Property="UnitPrice" Title="Unit Price" FormatString="{0:C}" />
          <RadzenGridColumn TItem="Sale" Property="Subtotal" Title="Subtotal" FormatString="{0:C}" />
          <RadzenGridColumn TItem="Sale" Property="Commission" Title="Commission" FormatString="{0:C}" />
          <RadzenGridColumn TItem="Sale" Property="Total" Title="Total" FormatString="{0:C}" />
        </Columns>
      </RadzenGrid>
    }
    else
    {
      <div>No sales occurred in this period.</div>
    }

    <EditForm class="flex flex-col" Model="@RecordOfSalesModel" OnValidSubmit="RecordOfSalesModel.SendEmailAsync">
      <div class="mt-5 grid grid-cols-3 gap-4">
        <RadzenLabel class="self-center" Text="Email Address:" />
        <RadzenTextBox class="col-span-2" Placeholder="@SelectedCommission.EmailAddress" @bind-Value="@RecordOfSalesModel.EmailAddress" />

        <RadzenLabel class="self-center" Text="Custom Message:" />
        <RadzenTextArea class="col-span-2" Placeholder="Custom Message" Cols="30" Rows="7" @bind-Value="@RecordOfSalesModel.CustomMessage" />

        <div>
          <RadzenButton Click="args => RecordOfSalesModel.ToggleSentFlag()" ButtonStyle="ButtonStyle.Warning">@(RecordOfSalesModel.SendSuccessful ? "Unlock" : "Lock")</RadzenButton>
        </div>
        <div class="col-span">
          @if (RecordOfSalesModel.StatusMessage != null)
          {
            <span>@(RecordOfSalesModel.StatusMessage)</span>
          }
        </div>
        <div>
          <RadzenButton ButtonType="ButtonType.Submit" Disabled="@(RecordOfSalesModel.SendInProgress || RecordOfSalesModel.SendSuccessful)">Submit</RadzenButton>
        </div>
      </div>
    </EditForm>
  </RadzenCard>
}

@code
{
  private bool IsLoading { get; set; } = false;
  private IList<IArtistRecordOfSalesViewModel> Commissions { get; set; } = new List<IArtistRecordOfSalesViewModel>();

  private EditContext DatePickerEditContext { get; set; }
  private DateTime SelectedDate { get; set; } = DateTime.Today;

  private DateTime SelectedMonth => new DateTime(SelectedDate.Year, SelectedDate.Month, 1).AddMonths(-1);
  private DateTime StartDate => SelectedMonth.AddDays(-15);
  private DateTime EndDate => SelectedMonth.AddMonths(1).AddDays(-15).AddHours(-1);

  private IArtistRecordOfSalesViewModel RecordOfSalesModel { get; set; }
  private ArtistSales SelectedCommission => RecordOfSalesModel?.Commission;

  protected override void OnInitialized()
  {
    DatePickerEditContext = new EditContext(this);
  }

  private async Task UpdateTransactionsAsync()
  {
    try
    {
      IsLoading = true;
      Commissions = await CommissionService.GetSalesByArtistForPeriod(StartDate, EndDate)
                                           .Select(x => ViewModelFactory.CreateArtistRecordOfSalesViewModel(x))
                                           .ToList()
                                           .ToTask();
    }
    finally
    {
      IsLoading = false;
      StateHasChanged();
    }
  }

  private Task OnSelect(IArtistRecordOfSalesViewModel model)
  {
    this.RecordOfSalesModel = model;
    return Task.CompletedTask;
  }

}
