@page "/admin/artists/edit/{stockistCode}"
@page "/admin/artists/new"
@using Mandarin.Services
@using Mandarin.Models.Artists
@using Microsoft.EntityFrameworkCore
@using System.IO
@using Mandarin.Database
@using Mandarin.Models.Commissions
@inject IArtistService ArtistService;
@inject MandarinDbContext MandarinDbContext;
@inject NavigationManager NavigationManager;

@if (Stockist == null)
{
  <Card>
    <CardHeader>
      <CardTitle>Artist Details...</CardTitle>
    </CardHeader>
    <CardBody>
      <Progress Size="Size.Medium">
        <ProgressBar Striped="true" Animated="true" Min="0" Max="100" Value="100" Background="@Background.Primary">Fetching Artist...</ProgressBar>
      </Progress>
    </CardBody>
  </Card>
}
else
{
  <Card>
    <CardHeader>
        <CardTitle>@(isNew ? "New Artist" : $"{Stockist.StockistCode} - {Stockist.StockistName}")</CardTitle>
      <CardActions Float="Float.Right">
        @if (isEditing)
        {
          <Button Color="Color.Primary" Clicked="OnSaveClicked">Save</Button>
          <Button Color="Color.Danger" Clicked="OnCancelClicked">Cancel</Button>
        }
        else
        {
          <Button Color="Color.Primary" Clicked="@OnCloseClicked">Close</Button>
          <Button Color="Color.Dark" Clicked="@OnEditClicked">Edit</Button>
        }
      </CardActions>
    </CardHeader>
    <CardBody>
      <Validations @ref="validations" Mode="ValidationMode.Auto" Model="@Stockist" ValidateOnLoad="false">
        <Validation>
          <Field>
            <FieldLabel>Artist Code</FieldLabel>
            <TextEdit @bind-Text="@Stockist.StockistCode" Disabled="@(!isNew)">
              <Feedback><ValidationError /></Feedback>
            </TextEdit>
          </Field>
        </Validation>

        <Validation>
          <Field>
            <FieldLabel>Full Name</FieldLabel>
            <TextEdit @bind-Text="@Stockist.StockistName" Disabled="@(!isEditing)">
              <Feedback><ValidationError /></Feedback>
            </TextEdit>
          </Field>
        </Validation>

        <Validation>
          <Field>
            <FieldLabel>Email Address</FieldLabel>
            <TextEdit Role="@TextRole.Email" @bind-Text="@Stockist.Details.EmailAddress" Disabled="@(!isEditing)">
              <Feedback><ValidationError /></Feedback>
            </TextEdit>
          </Field>
        </Validation>

        <Divider />

        <FieldLabel>Public Website</FieldLabel>
        <Validation>
          <Field>
            @if (Stockist.StatusCode == "ACTIVE")
            {
              <Check TValue="bool?" @bind-Checked="@Stockist.Details.Visible" Disabled="@(!isEditing)">Show on Artist Page</Check>
            }
            else
            {
              <Check TValue="bool?" @Checked="@false" Disabled="true">Artist must be active to Show on Artist Page</Check>
            }
          </Field>
        </Validation>

        <Validation>
          <Field>
            <FieldLabel>Description</FieldLabel>
            <MemoEdit @bind-Text="@Stockist.Description" Rows="5" Disabled="@(!StockistIsVisible || !isEditing)">
              <Feedback><ValidationError /></Feedback>
            </MemoEdit>
          </Field>
        </Validation>

        <Validation>
          <Field>
            <FieldLabel>Image</FieldLabel>
            <FileEdit Filter="image/*" Disabled="@(!StockistIsVisible || !isEditing)" Changed="OnImageChanged">
              <Feedback><ValidationError /></Feedback>
            </FileEdit>
            <img class="mt-6" src="@Stockist.Details.ImageUrl" />
          </Field>
        </Validation>

        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12"><Icon IconStyle="IconStyle.Light" Class="fab" Name="@("fa-twitter")" /></AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Stockist.Details.TwitterHandle" Placeholder="Twitter Handle" Disabled="@(!StockistIsVisible || !isEditing)">
                  <Feedback><ValidationError /></Feedback>
                </TextEdit>
              </Addon>
            </Addons>
          </Field>
        </Validation>
        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12"><Icon IconStyle="IconStyle.Light" Class="fab" Name="@("fa-facebook")" /></AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Stockist.Details.FacebookHandle" Placeholder="Facebook Handle" Disabled="@(!StockistIsVisible || !isEditing)">
                  <Feedback><ValidationError /></Feedback>
                </TextEdit>
              </Addon>
            </Addons>
          </Field>
        </Validation>
        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12"><Icon IconStyle="IconStyle.Light" Class="fab" Name="@("fa-instagram")" /></AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Stockist.Details.InstagramHandle" Placeholder="Instagram Handle" Disabled="@(!StockistIsVisible || !isEditing)">
                  <Feedback><ValidationError /></Feedback>
                </TextEdit>
              </Addon>
            </Addons>
          </Field>
        </Validation>
        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12"><Icon IconStyle="IconStyle.Light" Class="fab" Name="@("fa-tumblr")" /></AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Stockist.Details.TumblrHandle" Placeholder="Tumblr Handle" Disabled="@(!StockistIsVisible || !isEditing)">
                  <Feedback><ValidationError /></Feedback>
                </TextEdit>
              </Addon>
            </Addons>
          </Field>
        </Validation>
        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.GlobeEurope" /></AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Stockist.Details.WebsiteUrl" Placeholder="Personal Website" Disabled="@(!StockistIsVisible || !isEditing)">
                  <Feedback><ValidationError /></Feedback>
                </TextEdit>
              </Addon>
            </Addons>
          </Field>
        </Validation>

        <Divider />

        <FieldLabel>Commission</FieldLabel>
        <Validation>
          <Field>
            <Addons>
              <Addon AddonType="AddonType.Start">
                <AddonLabel Class="w-12">%</AddonLabel>
              </Addon>
              <Addon AddonType="AddonType.Body">
                <Select TValue="CommissionRateGroup" @bind-SelectedValue="@Commission.RateGroup" Disabled="@(!isEditing)">
                  @foreach (var group in rateGroups)
                  {
                    <SelectItem Value="@group">@(group.Rate)%</SelectItem>
                  }
                </Select>
              </Addon>
            </Addons>
          </Field>
        </Validation>
        <Validation>
          <Fields>
            <Field ColumnSize="ColumnSize.Is6">
              <FieldLabel>Start Date</FieldLabel>
              <DateEdit TValue="DateTime" @bind-Date="@Commission.StartDate" Disabled="@(!isEditing)" />
            </Field>
            <Field ColumnSize="ColumnSize.Is6">
              <FieldLabel>End Date</FieldLabel>
              <DateEdit TValue="DateTime" @bind-Date="@Commission.EndDate" Disabled="@(!isEditing)" />
            </Field>
          </Fields>
        </Validation>
      </Validations>
    </CardBody>
  </Card>
}

@code
{
  /// <summary>
  /// Gets or sets the stockist code to be inspected.
  /// </summary>
  [Parameter]
  public string StockistCode { get; set; }

  private Stockist Stockist { get; set; }
  private Commission Commission => Stockist.Commissions.Last();
  private bool StockistIsVisible => Stockist.Details.Visible != false;

  private IReadOnlyList<CommissionRateGroup> rateGroups;

  private Validations validations;
  private bool isNew;
  private bool isEditing;

  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    rateGroups = await MandarinDbContext.CommissionRateGroup.OrderBy(x => x.Rate).ToListAsync();

    if (string.IsNullOrEmpty(StockistCode))
    {
      this.isNew = true;
      this.isEditing = true;
      this.Stockist = new Stockist
      {
        StatusCode = "ACTIVE",
        Status = await MandarinDbContext.Status.FirstAsync(x => x.StatusCode == "ACTIVE"),
        Details = new StockistDetail
        {
          Visible = true,
        },
      };
      Stockist.Commissions.Add(new Commission
      {
        RateGroup = rateGroups.First(),
        StartDate = DateTime.Now.Date,
        EndDate = DateTime.Now.AddDays(90).Date,
      });
    }
    else
    {
      this.isNew = false;
      this.isEditing = false;
      this.Stockist = await ArtistService.GetArtistByCodeAsync(StockistCode);
    }
  }

  private void OnEditClicked()
  {
    this.isNew = false;
    this.isEditing = true;
    validations.ClearAll();
  }

  private async Task OnSaveClicked()
  {
    if (!validations.ValidateAll())
    {
      return;
    }

    await ArtistService.SaveArtistAsync(this.Stockist);
    validations.ClearAll();
    isNew = false;
    isEditing = false;
  }

  private async Task OnCancelClicked()
  {
    this.isEditing = false;

    if (isNew)
    {
      OnCloseClicked();
    }
    else
    {
      this.Stockist = await ArtistService.GetArtistByCodeAsync(this.StockistCode);
    }
  }

  private void OnCloseClicked()
  {
    NavigationManager.NavigateTo("/admin/artists");
  }

  private async Task OnImageChanged(FileChangedEventArgs arg)
  {
    var file = arg.Files.FirstOrDefault();
    var filename = $"static/images/artists/{file.Name}";
    await using (var fs = File.Create("wwwroot/" + filename))
    {
      await file.WriteToStreamAsync(fs);
    }
    this.Stockist.Details.ImageUrl = "https://thelittlemandarin.co.uk/" + filename;
    StateHasChanged();
  }
}
